Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: purple;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  color: pink;
}

#screenshots {
  margin: auto;
  display: flex;
  flex: 1;
}

#screenshots img {
  width: 10px;
  height: 10px;
}


@media screen and (max-width: 720px) {
  #screenshots {
    display: block;
  }
}
