Body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: purple;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  color: pink;
}

#screenshots {
  text-align: center;
  display: flex;
  flex: 1;
}

#tic-tac-toe-screenshot {
  width: 30vw;
  height: 30vh;
}

#simon-screenshot {
  width: 30vw;
  height: 30vh;
}

#tetris-screenshot {
  width: 30vw;
  height: 30vh;
}

@media screen and (max-width: 720px) {
  h1 {
    color: black;
  }
  body {
    display: block;
  }
}
