Body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: purple;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  color: pink;
}

#screenshots {
  display: flex;
  flex: 1;
}

#tic-tac-toe-screenshot {
  width: 300px;
  height: 300px;
}

#simon-screenshot {
  width: 300px;
  height: 300px;
}

#tetris-screenshot {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 720px) {
  #screenshots {
    display: block;
  }
}
